.article-container {
  display: flex;
  border-bottom: 0.2rem solid #eeeeee;
  background-color: white;
}

.article-container div {
  padding-top: 1rem;
}

.article-container div p .article-title {
  cursor: pointer;
  font-size: 1.1rem;
  color: #373a37;
}
.url-text {
  margin-left: 1rem;
  font-size: 0.8rem;
  color: #a2a4a6;
}

.articles-container .article-container:first-child .article-title {
  color: #48bd97;
  font-weight: 800;
}

.owner {
  color: #a2a4a6;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.owner span {
  color: #478ccd;
  text-transform: capitalize;
  cursor: pointer;
}

.post-others {
  color: #a2a4a6;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.post-others-comments {
  color: #478ccd;
  cursor: pointer;
  margin-right: 1rem;
}

.post-others-spacing {
  word-spacing: 1rem;
}
